/************ Custom Font ************/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default CSS ************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
}

body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	/* background-color: #121212 !important; */
	font-family: 'Centra';
}
.main-section {
	padding-top: 45rem;
}
.banner {
	margin-bottom: 100px;
}
.coverup {
	background-color: #222;
	width: 1250px;
	height: 644px;
	z-index: 10000;
}

/************ Navbar CSS ************/
ul {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 18px 80px;
	z-index: 1000;
	font-size: 18px;
}

header .logo {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 5px;
	transition: 0.6s;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	margin: 0 25px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 400;
	transition: 0.6s;
	opacity: 0.6;
}
header ul li a:hover,
header ul li a.active {
	color: #fff;
	opacity: 1;
}

header.sticky {
	position: fixed;
	padding: 0px 50px;
	background: black !important;
}

li button {
	font-weight: 700;
	color: #fff;
	border: 1px solid #fff;
	padding: 18px 34px;
	font-size: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
	margin-left: 10px;
}

/* Hover CSS - underline from center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #ffffff;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
header.sticky .hvr-underline-from-center:before {
	background: white !important;
	height: 3.5px;
}

/* Hover CSS - swepp to right */
.hvr-sweep-to-right:before {
	content: '';
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	transition: 0.3s ease-in-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
	color: black;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
}

/*  CSS Responsive Navbar */
.navbar-toggler {
	color: white;
	display: none;
	z-index: 1000000;
}

/* Media query for screens smaller than or equal to 800px */
@media (max-width: 800px) {
	header.sticky {
		padding: 10px 50px;
	}
	.nav-collapse ul {
		display: none;
	}

	.navbar-toggler {
		display: block;
	}

	.nav-collapse.show {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.895);
		padding: 10px;
		transform: translateX(0);
		transition: 0.3s ease-in-out;
		z-index: 9999;
		justify-content: center;
	}
	.nav-collapse.show ul {
		display: flex;
		flex-direction: column;
	}
	.nav-collapse.show ul li {
		margin-top: 20px;
	}
}

/************ Banner CSS ************/
.banner h1 .wrap {
	border-right: 0.08em solid #666;
}
.banner {
	background-color: black;
	color: white;
	padding: 150px 0 100px 0;
	height: 120vh;
}

.banner .container-2 {
	/* fixed typing taking space */
	position: absolute;
}

.banner h1 {
	font-size: 65px;
	font-weight: 700;
}
.banner p {
	font-size: 18px;
	color: #d4d4d4;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	width: 96%;
}

.banner .btn-resume {
	color: black;
	font-weight: 500;
	font-size: 20px;
	margin-top: 20px;
	letter-spacing: 0.8px;
	display: flex;
	align-items: center;
	background: white;
	padding: 10px 25px 10px 25px;
	border-radius: 0.5rem;
	display: inline-block;
	transition: 0.3s;
	z-index: 1000000 !important;
}
.banner .btn-resume:hover {
	border: 2px solid white;
	color: white;
	background: transparent;
	transition: 0.2s;
}
.banner .btn-resume i {
	font-size: 20px;
	margin-left: 10px;
	transition: 0.3s;
	line-height: 1;
}
.banner .btn-resume:hover i {
	margin-left: 25px;
}

.banner .btn-more {
	text-decoration: underline;
	margin-left: 20px;
	color: white;
	font-weight: 500;
	font-size: 20px;
	margin-top: 20px;
	letter-spacing: 0.8px;
	display: flex;
	align-items: center;
	padding: 10px 25px 10px 25px;
	display: inline-block;
	transition: 0.3s;
}
.banner .btn-more:hover {
	color: white;
	transition: 0.2s;
}
.banner .btn-more i {
	position: relative;
	top: 5px;
	font-size: 25px;
	margin-left: 15px;
	transition: 0.3s;
	line-height: 1;
}
.banner .btn-more:hover i {
	margin-left: 30px;
}

.banner .div-lottie #lottie-container {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 500px;
}
.banner .div-lottie #lottie-container2 {
	position: relative;
	top: 7px;
	left: 0px;
	width: 450px;
	height: 450px;
}

.banner .div-lottie {
	animation: updown 3s linear infinite;
}

@keyframes updown {
	0% {
		transform: translateY(-5px) rotateY(180deg);
	}
	50% {
		transform: translateY(5px) rotateY(180deg);
	}
	100% {
		transform: translateY(-5px) rotateY(180deg);
	}
}

/************ Skills CSS ************/
.skills {
	color: white;
	padding: 0 0 50px 0;
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	background: #222;
}
.skills .container {
	position: relative;
}

.skills-bx {
	background-color: #151515;
	border-radius: 64px;
	text-align: center;
	padding: 60px 50px;
	border: 1px solid rgb(140, 140, 140);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	position: relative;
}
.skills-bx p {
	color: #b8b8b8;
	font-size: 18px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	margin: 14px auto 30px auto;
	text-align: center;
	width: 80%;
}

.skills-bx .skills-border {
	position: absolute;
	top: 0;
	right: -0.75rem;
	z-index: -10;
	height: 102%;
	width: 101%;
	border-radius: 80px;
	border-bottom-right-radius: 60px;
	background-color: #fff;
}

.skills h2 {
	font-size: 45px;
	font-weight: 700;
}

.skills-slider {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.skills-slider .item img {
	width: 50%;
	margin: 0 auto 15px auto;
}

@media (max-width: 3000px) {
	.skills .container .item h1 {
		font-size: 28px;
		position: absolute;
		top: 50px;
		left: 110px;
	}
	.skills .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
		position: absolute;
		bottom: 110px;
		left: 0px;
	}
	.skills
		.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
		position: absolute;
		bottom: 110px;
		right: 0px;
	}
}

/* @media (max-width: 1248px) {
	.skills .container .item h1 {
		font-size: 35px;
		position: absolute;
		top: 55px;
		left: 125px;
	}
} */

@media (max-width: 1199px) {
	.skills .container .item h1 {
		font-size: 28px;
		position: absolute;
		top: 50px;
		left: 110px;
	}

	.skills .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
		position: absolute;
		bottom: 120px;
		left: 0px;
	}
	.skills
		.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
		position: absolute;
		bottom: 120px;
		right: 0px;
	}
}

@media (max-width: 1024px) {
	.skills .container .item h1 {
		font-size: 35px;
		position: absolute;
		top: 50px;
		left: 114px;
	}
}

@media (max-width: 991px) {
	.skills .container .item h1 {
		font-size: 30px;
		position: absolute;
		top: 52px;
		left: 115px;
	}
}

@media (max-width: 767px) {
	.skills .container .item h1 {
		font-size: 20px;
		position: absolute;
		top: 45px;
		left: 95px;
	}

	.skills .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
		position: absolute;
		bottom: 105px;
		left: 0px;
	}
	.skills
		.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
		position: absolute;
		bottom: 105px;
		right: 0px;
	}
}

@media (max-width: 639px) {
	.skills .container .item h1 {
		font-size: 18px;
		position: absolute;
		top: 35px;
		left: 75px;
	}
}

@media (max-width: 500px) {
	.skills .container .item h1 {
		font-size: 20px;
		position: absolute;
		top: 30px;
		left: 65px;
	}
}

/************ Projects CSS ************/
.project {
	background-color: #000000;
	color: white;
	position: relative;
	display: flex;
	align-items: center;
	z-index: 0;
}

.project .col {
	padding-top: 70px;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
	text-align: center;
}

.project .project-p {
	color: #b8b8b8;
	font-size: 18px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	margin: 14px auto 30px auto;
	text-align: center;
	width: 80%;
}

.project .nav.nav-pills {
	width: 72%;
	margin: 0 auto;
	border-radius: 50px;
	background-color: rgb(255 255 255 / 10%);
	overflow: hidden;
}
.project .nav.nav-pills .nav-item {
	width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
	margin: 0rem; /* fixed */
	background-color: transparent;
	border-radius: 0;
	padding: 17px 0;
	color: #fff;
	width: 100%;
	font-size: 17px;
	letter-spacing: 0.8px;
	font-weight: 500;
	position: relative;
	transition: 0.3s ease-in-out;
	text-align: center;
	z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	background: white;
	top: 0;
	left: 0;
	z-index: -1;
	transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
	width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
	border: 1px solid white;
	color: black;
}

.project .nav-link#pills-projects-tab {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.project .nav-link#pills-experience-tab {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 55px 0px 0px 55px;
}
.project .nav-link#pills-education-tab {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 0 55px 55px 0;
}

.proj-imgbx {
	position: relative;
	border-radius: 0.5rem;
	cursor: pointer;
	width: 50%;
	overflow: hidden;
}
.proj-imgbx img {
	width: 100%;
	height: auto;
}
.proj-imgbx::before {
	content: '';
	background: linear-gradient(90.21deg, #242424 -5.91%, #484848 111.58%);
	opacity: 0.85;
	position: absolute;
	width: 100%;
	height: 0;
	transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
	height: 100%;
}

.proj-txtx {
	position: absolute;
	text-align: center;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s ease-in-out;
	opacity: 0;
	width: 100%;
}

.proj-imgbx:hover .proj-txtx {
	top: 50%;
	opacity: 1;
}

.proj-txtx h4 {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1.1em;
}

.proj-txtx span {
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.8px;
}

/************* Featured Project CSS *************/
.featured-project {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 1.5rem;
	border: 1px solid lightgray;
	border-bottom-right-radius: 1.5rem;
	background-color: black;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	padding: 3rem;
	position: relative;
}
.featured-project .border {
	position: absolute;
	top: 0;
	right: -0.75rem;
	z-index: -10;
	height: 103%;
	width: 101%;
	border-radius: 2.5rem;
	border-bottom-right-radius: 2rem;
	background-color: #fff;
}
.featured-project .project-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding-left: 1.5rem;
}
.featured-project .project-container span {
	font-weight: 500;
	font-size: 1.25rem;
	color: #58e6d9;
}
.featured-project .project-container h2 {
	color: white;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
	text-align: left;
	font-size: 2.5rem;
	font-weight: bold;
}
.featured-project .project-container h2:hover {
	text-decoration: underline;
	text-underline-offset: 4px;
}
.featured-project .project-container p {
	font-size: 18px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.featured-project .project-link-container {
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
}
.featured-project .project-link-container .github-link {
	width: 2.5rem;
}
.featured-project .project-link-container .github-link i {
	color: white;
	font-size: 40px;
}
.featured-project .project-link-container .visit-link {
	margin-left: 1rem;
	border-radius: 0.5rem;
	background-color: lightgray;
	color: black;
	padding: 0.5rem 1.5rem;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5rem;
	transition: 0.3s;
}
.featured-project .project-link-container .visit-link:hover {
	color: white;
	background-color: transparent;
	border: 1px solid white;
	transition: 0.1s;
}

/************* Project CSS *************/
.vertical-project {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	border-bottom-right-radius: 1.5rem;
	border: 1px solid #fff;
	background-color: black;
	padding: 1.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.vertical-project .border {
	position: absolute;
	top: 0;
	right: -0.75rem;
	z-index: -10;
	height: 103%;
	width: 101%;
	border-radius: 2.5rem;
	border-bottom-right-radius: 2rem;
	background-color: #fff;
}
.vertical-project .proj-imgbx {
	border-radius: 0.5rem;
	overflow: hidden;
	cursor: pointer;
	width: 100%;
}

.vertical-project .project-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 1rem;
}
.vertical-project .project-container span {
	font-weight: 500;
	font-size: 1.25rem;
	color: #58e6d9;
}
.vertical-project .project-container h2 {
	color: white;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
	text-align: left;
	font-size: 2rem;
	font-weight: bold;
}
.vertical-project .project-container h2:hover {
	text-decoration: underline;
	text-underline-offset: 4px;
}
.vertical-project .project-container p {
	font-size: 18px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.vertical-project .project-link-container {
	width: 100%;
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}
.vertical-project .project-link-container .github-link {
	width: 2.5rem;
}
.vertical-project .project-link-container .github-link i {
	position: absolute;
	color: white;

	bottom: 10px;
	font-size: 40px;
	transition: 0.3s;
}
.vertical-project .project-link-container .github-link i:hover {
	font-size: 45px;
	transition: 0.3s;
}
.vertical-project .project-link-container .visit-link {
	border-radius: 0.5rem;
	background-color: lightgray;
	color: black;
	padding: 0.5rem 1.5rem;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5rem;
	transition: 0.3s;
}
.vertical-project .project-link-container .visit-link:hover {
	color: white;
	background-color: transparent;
	text-decoration: underline;
	height: 50%;
	transition: 0.1s;
}

/********** Experience CSS *********/
.company-link {
	color: #58e6d9;
}

/********* Education CSS **********/
.edu-title {
	color: white; /* Set the desired color for the text */
	text-shadow: -1px -1px 0 maroon, 1px -1px 0 maroon, -1px 1px 0 maroon,
		1px 1px 0 black; /* Create a stroke effect */
}

.edu-title:hover {
	text-decoration: underline;
}
